@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

body {
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: "Lato", sans-serif;
  color: whitesmoke;
}
.product-count {
  padding-right: 24px;
}
.line {
  margin-left: 50px;
  margin-right: 74px;
}
.container {
  padding-top: 10px;
  padding-left: 10px;
}
.sidenav {
  width: 450px;
}
.products {
  padding: 2rem 0;
}
.products-left {
  width: 90vw;
  margin-left: 2rem;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
}
.img-container {
  overflow: hidden;
}
.product {
  background-color: lightslategrey;
  border-style: solid;
  text-align: center;
}
#dodaj {
  margin-bottom: 15px;
}
.product-img {
  display: block;
  width: 100%;
  padding: 25px;
  min-height: 12rem;
}
.product h3 {
  text-transform: capitalize;
  font-size: 1.1rem;
  margin-top: 1rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}
.product h4 {
  margin-top: 0.7rem;
  text-align: center;
}
.cart {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: lightslategrey;
}
.showCart {
  transform: translateX(0);
}
.cart h2 {
  text-transform: capitalize;
  padding-left: 50px;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 2rem;
}
.cart-item {
  display: grid;
  padding-left: 50px;
  padding-right: 50px;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0;
}
.cart-item img {
  width: 75px;
  height: 75px;
}
.cart-item h4 {
  font-size: 1.32rem;
  margin: 0;
}
.cart-item h5 {
  margin: 0.5rem 0;
  font-size: 1rem;
}
.item-count {
  text-align: center;
  margin: 0;
}
.remove-item {
  color: red;
  cursor: pointer;
}
.arrow_up {
  color: red;
  cursor: pointer;
}
.arrow_down {
  color: red;
  cursor: pointer;
}
.cart-footer {
  text-align: center;
}
.cart-footer h3 {
  text-align: left;
  padding-left: 50px;
}
